*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
   
}
html,body{
    width: 100%;
    height: 100%;;
}
#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    border: 2px solid #fff;
    /* background-color: #fff; */
    position: fixed;
    z-index: 99999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.line1-part1 h5,.line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk sarif';
}

.line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.7vw;
    text-transform: uppercase;
    font-weight: 900;
    
}
.line h2{
    font-size: 4.5vw;
    text-transform: uppercase;
    animation-name: anime;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
        font-weight: 600;
    }
    40%{
        font-family: "silk sarif";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
        font-weight: 600;
    }
    50%{
        font-family:"silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 600;
        opacity: 1;
    }
    100%{
        font-family:"silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 600;
        opacity: 0;
    }
}


#main{
    position: relative;
    background-color: #0B0B0B
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

}
#nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 500;
}
.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* background-color: red; */
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


}
.hero:nth-child(2){
    margin-top: 16vh;
}
.hero h1{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}
.hero h2{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}
.hero h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}
